
@{
    ViewBag.Title = "Index_TH";
    var appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
}

<div class="mainContents">
    <div class="bannerImg">
        <img src="@appPath/Contents/images/banner-img.jpg">
        <div class="bannerTexts">
            <h1>ชิ้นส่วนคุณภาพมาตรฐานโรงงานประกอบ จากเยอรมัน</h1>
            <p>เป็นโซลูชั่นที่ออกแบบมาโดยเฉพาะสำหรับชิ้นส่วนอะไหล่ทดแทน</p>
            <span class="mobileBar"></span>
        </div>
    </div>
    <div class="paragraph">
        <p style="text-align:center;font-weight:700;font-size:22px;line-height:30px;padding:20px 0;">ทางเราได้รับคำถาม/ความต้องการของคุณแล้ว และจะติดต่อกลับหาคุณในเร็วๆนี้</p>
    </div>
</div>

<script>
window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}
</script>


