
@{
    ViewBag.Title = "EN";
    var appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
}

<div class="mainContents">
    <div class="bannerImg">
        <img src="@appPath/Contents/images/banner-img.jpg">
        <div class="bannerTexts">
            <h1>German OE Quality Spare Parts</h1>
            <p>Tailor-made solutions for the Automotive Aftermarket</p>
            <span class="mobileBar"></span>
        </div>
    </div>
    <div class="paragraph">
        <p style="text-align:center;font-weight:700;font-size:22px;line-height:30px;padding:20px 0;">We have received your enquiry and will get back to you soon.</p>
    </div>
</div>

<script>
window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}
</script>


