@model User
@if (Model != null)
{
    <html>
    <head>
        <meta charset="utf-8">
        <title>Schaeffler | CMS</title>
    </head>
    <body style="font-family:Calibri">
        <h2>
            Schaeffler - Reset Password
        </h2>
        <br /><br />
        Hi @(Model.Name ),
        <br /><br />
        Your password has been changed.
        <br /><br />
        Please <a href="@ApplicationInstance.Application["ApplicationPath"]/Admin">click here</a> to login.
    </body>
</html>
}