@model ForgotPassword

@if (Model != null && Model.user != null)
{
    <html>
    <head>
        <meta charset="utf-8">
        <title>Schaeffler | CMS</title>
    </head>
    <body style="font-family:Calibri">
        <h2>
            Schaeffler - Reset Forgot Password
        </h2>
        <br /><br />
        Hi @(Model.user.Name),
        <br /><br />
        Please use the below link to reset your password.
        <br /><br />
        <a href="@ApplicationInstance.Application["ApplicationPath"]/Admin/Login/ResetPassword/@Model.Key">@ApplicationInstance.Application["ApplicationPath"]/Login/ResetPassword/@Model.Key</a>
    </body>
</html>
}
