@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
    //var indianCulture = new System.Globalization.CultureInfo("hi-IN");
}
@model IList<feedback>


<div class="maincontents">
    @using (Html.BeginForm("Export", "Home", FormMethod.Post, new { id = "ExportForm" }))
    {
        @Html.AntiForgeryToken()
        <h1>Export File</h1>
        <p>Click on the export button to download the excel file.</p>
        <div>
            <input type="submit" class="submitBtn" value="Click Here Download Excel File">
        </div>
    }
</div>

